@using Campus_SMS.Data
@model IEnumerable<Campus_SMS.Entities.ClassCourse>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">My Classes</h1>

<p class="d-grid gap-2">
    <a asp-action="Create" class="btn btn-outline-primary">Add Class</a>
</p>
<table class="table table-striped border border-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsiClassIdentifier)
            </th>
            <th>Faculty Members</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsiClassIdentifier)
            </td>
            <td>
                @foreach (var faculty in item.AppUsers)
                {
                    <p>@faculty</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
